.playlist-page-container{
    min-width: 100%;
    min-height: calc(100vh - 76px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
}


.playlist-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;

}

.playlist-footer >a:hover {
    text-decoration: none;
}