.profile-page-container{
    min-width: 100%;
    min-height: calc(100vh - 76px - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    
}


/* google logout button */

.google-logout-button{
    background-color: #fbbc05;
    color: azure;
    font-weight: bold;
}

.google-logout-button:hover{
    background-color: azure;
  
}

.profile-container{
    background-color: #4285f4;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    color: azure
}